<div class="container">
        <!-- Burger List -->
        <div id="burger-list" class="col-sm-4">
            <div class="well well-lg">
                <div class="well well-sm">
					<h4>I'm a burger</h4>
					<button class="btn btn-danger">eat me</button>
                </div>
                 <div class="well well-sm">hi</div>
            </div>
        </div>
        <!-- Devoured Burgers -->
        <div id="burger-devoured" class="col-sm-4">
            <div class="well well-lg">
                <div class="well well-sm">hi</div>
                 <div class="well well-sm">hi</div>
            </div>
        </div>
        <!-- Burger Entry -->
        <div class="col-md-4"></div>
        <div id="burger-entry" class="col-md-4">
            <form class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <textarea class="form-control" rows="3" id="textArea"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-warning">submit</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-md-4"></div>
     <!-- End Main Container -->
</div>